.animatedConatiner {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: justify;
z-index: 0;
    font-size: 20em;
    line-height: 0.9em;
    font-weight: 800;

  }
  
  svg {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 800px;
    transform-origin: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 10em;
  }
  
  
  
  #face > path:nth-child(1) {
    fill: #A8A3AA;
    stroke: #000000;
  }
  #face > path:nth-child(2) {
    fill: #A8A3AA;
  }
  