/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */

/*
 * domine
================================================================================ */
@font-face {
  font-family: 'domine-regular';
  src: local('domine-regular'),
    url('../src/assets/fonts/domine/domine-regular-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/domine/domine-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'domine-bold';
  src: local('domine-bold'),
    url('../src/assets/fonts/domine/domine-bold-webfont.woff2') format('woff2'),
    url('../src/assets/fonts/domine/domine-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

/*
 * metropolis
================================================================================ */
@font-face {
  font-family: 'metropolis-bold';
  src: local('metropolis-bold'),
    url('../src/assets/fonts/metropolis/metropolis-bold-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-bold-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-semibold';
  src: local('metropolis-semibold'),
    url('../src/assets/fonts/metropolis/metropolis-semibold-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-semibold-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-medium';
  src: local('metropolis-medium'),
    url('../src/assets/fonts/metropolis/metropolis-medium-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-medium-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-regular';
  src: local('metropolis-regular'),
    url('../src/assets/fonts/metropolis/metropolis-regular-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-regular-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-light';
  src: local('metropolis-light'),
    url('../src/assets/fonts/metropolis/metropolis-light-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-light-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-extralight';
  src: local('metropolis-extralight'),
    url('../src/assets/fonts/metropolis/metropolis-extralight-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-extralight-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-italic';
  src: local('metropolis-italic'),
    url('../src/assets/fonts/metropolis/metropolis-regularitalic-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-regularitalic-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=fonts.css.map */

@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400&display=swap');

html {
  background-color: #000000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
  -webkit-font-smoothing: subpixel-antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1rem;
  line-height: 2 !important;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.7);
}
/* ===================================================================
 * # preloader - (_preloader-line-scale-pulse-out.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
  background: #000000;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.line-scale-pulse-out > div {
  background-color: #ec008c;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 4px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 0.4);
  &:hover {
    color: #ec008c;
  }
}

.background {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./assets/images/1.jpg);
    background-position: center;
    background-size: contain;
    z-index: 0;
    background-repeat: no-repeat;
  }
}
.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.cell {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #777777;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 10px;
  line-height: 10px;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}

.shuffle {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 0px 20px 0px 20px;
  width: auto;
  height: auto;
  background: white;
  border: solid 2px #ffaad4;
  border-radius: 7px;
  color: #ffaad4;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 45px;
}

.shuffle:hover {
  background: #f9f9f9;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  padding: 20px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details h1 {
  color: #ca6a9a;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 50px;
}

.details p {
  color: #777777;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding-top: 6px;
}

.circle {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 300px;

  right: 30px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.main {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 70px 30px 70px;
  height: auto;
  display: flex;
}

.grid {
  flex: 1;
}

.ant-btn-primary {
  background-color: #ca6a9a !important;
  border-color: #ca6a9a !important;
}

.containerBlock {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.itemBlock {
  width: inherit;
  height: inherit;
  background: white;
  transform-origin: 50% 100%;
}
.wrapperBlock {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
