/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */

/*
 * domine
================================================================================ */
@font-face {
  font-family: 'domine-regular';
  src: local('domine-regular'),
    url('../src/assets/fonts/domine/domine-regular-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/domine/domine-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'domine-bold';
  src: local('domine-bold'),
    url('../src/assets/fonts/domine/domine-bold-webfont.woff2') format('woff2'),
    url('../src/assets/fonts/domine/domine-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

/*
 * metropolis
================================================================================ */
@font-face {
  font-family: 'metropolis-bold';
  src: local('metropolis-bold'),
    url('../src/assets/fonts/metropolis/metropolis-bold-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-bold-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-semibold';
  src: local('metropolis-semibold'),
    url('../src/assets/fonts/metropolis/metropolis-semibold-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-semibold-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-medium';
  src: local('metropolis-medium'),
    url('../src/assets/fonts/metropolis/metropolis-medium-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-medium-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-regular';
  src: local('metropolis-regular'),
    url('../src/assets/fonts/metropolis/metropolis-regular-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-regular-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-light';
  src: local('metropolis-light'),
    url('../src/assets/fonts/metropolis/metropolis-light-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-light-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-extralight';
  src: local('metropolis-extralight'),
    url('../src/assets/fonts/metropolis/metropolis-extralight-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-extralight-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'metropolis-italic';
  src: local('metropolis-italic'),
    url('../src/assets/fonts/metropolis/metropolis-regularitalic-webfont.woff2')
      format('woff2'),
    url('../src/assets/fonts/metropolis/metropolis-regularitalic-webfont.woff')
      format('woff');
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=fonts.css.map */

@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400&display=swap');

html {
  background-color: #050505;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center center;
  background-color: #050505;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1rem;
  line-height: 2 !important;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.7);
}
/* ===================================================================
 * # preloader - (_preloader-line-scale-pulse-out.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
  background: #050505;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.line-scale-pulse-out > div {
  background-color: #ec008c;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 4px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 0.4);
  &:hover {
    color: #ec008c;
  }
}

.home-content__line {
  display: block;
  width: 1px;
  height: 300px;
  background-color: #ec008c;
  position: fixed;
  right: 60px;
  bottom: 0;
}

.background {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./assets/images/1.jpg);
    background-position: center;
    background-size: contain;
    z-index: 0;
    background-repeat: no-repeat;
  }
}
.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
